DATABASE_PORT=

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Underwriting service database connection
UNDERWRITING_DATABASE_HOST=
UNDERWRITING_DATABASE_PORT=
UNDERWRITING_DATABASE_NAME=
UNDERWRITING_DATABASE_USER=
UNDERWRITING_DATABASE_PASSWORD=